@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: #e6ece2;
    margin: 0;
    padding: 0;
    height: 100vh;
}

header {
	text-align: center;
}

h1 {
    font-family: "Calistoga", sans-serif;
}

p {
    font-family: "Caladea", sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 2em;
    margin-bottom: 2em;
}

/*--------------------------------------------HOME PAGE*/

#logo {
    height: 50vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

#logo h1 {
    font-size: 3em;
}

#menu {
    height: 50vh;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    /* https://cssgradient.io/shades-of-green/ */
    /*background-color: #03C03C; */
    color: white;
    text-decoration: none;
    font-family: "Caladea", sans-serif;
    border-radius: 8px;
    width: 60%;
    height: 80px;
    font-size: 1.5em;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*--------------------------------------------INSTRUCTIONS PAGE*/

#instructions-header {
    margin-top: 2em;
    text-align: center;
}

#instructions-text {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

#instructions-button {
    /* https://cssgradient.io/shades-of-green/ */
    background-color: #03C03C; 
    color: white;
    text-decoration: none;
    font-family: "Caladea", sans-serif;
    border-radius: 8px;
    width: 60%;
    height: 80px;
    font-size: 1.5em;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*--------------------------------------------GAME PAGE*/

#topic-header {
	height: 5vh;
}

#topic-section {
	min-height: 90vh;
}

.topic-btn {
	color: white;
    text-decoration: none;
    font-family: "Caladea", sans-serif;
    border-radius: 8px;
    width: 60%;
    height: 80px;
    font-size: 1.5em;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*--------------------------------------------BOOTSTRAP BREAKPOINTS*/

/* // X-Small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .button {
        width: 50%;
        height: 120px;
        font-size: 2em;
        font-weight: 600;
    }
    .topic-btn {
    	width: 65%;
        height: 120px;
        font-size: 2em;
        font-weight: 600;
    }
    #instructions-button {
        width: 50%;
        height: 120px;
        font-size: 2em;
        font-weight: 600;
    }
    #logo h1 {
        font-size: 6em;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .button {
        font-size: 2.5em;
    }
    #instructions-button {
        font-size: 2.5em;
        width: 20%;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}